//- start education courses
div.container#course.relative
    img.background-image.absolute(src="../../src/assets/img/course/background-course.png", alt="")
    div.row
        div.card.relative
            div.teacher.absolute
                img(src="../../src/assets/img/course/me.png", alt="")
            div.teacher-name.absolute
                span نام مدرس : ابوالفضل قزلباش
            div.card-header
                img(src="../../src/assets/img/course/1.png", alt="")
                span.status در حال برگذاری
            div.card-body
                h2 دوره متخصص طراحی وب
            div.card-footer
                span 31:00
                    i.fas.fa-history
                span غیر رایگان
        div.card.relative
            div.teacher.absolute
                img(src="../../src/assets/img/course/me.png", alt="")
            div.teacher-name.absolute
                span نام مدرس : ابوالفضل قزلباش
            div.card-header
                img(src="../../src/assets/img/course/2.jpg", alt="")
                span.status در حال برگذاری
            div.card-body
                h2 دوره کامل sass
            div.card-footer
                span 18:00
                    i.fas.fa-history
                span غیر رایگان
        div.card.relative
            div.teacher.absolute
                img(src="../../src/assets/img/course/me.png", alt="")
            div.teacher-name.absolute
                span نام مدرس : ابوالفضل قزلباش
            div.card-header
                img(src="../../src/assets/img/course/3.jpg", alt="")
                span.status در حال برگذاری
            div.card-body
                h2 دوره کامل pug
            div.card-footer
                span 12:00
                    i.fas.fa-history
                span غیر رایگان