//- start footer
footer
    div.row
        div.about-us 
            h3 ارتباط با ما
            a(href="#") تهران - خیابان انقلاب پلاک 12
            a(href="#") 09129245139
            a(href="#") abolfazlbtc43@gmail.com
            a(href="#") __abolfazl.i
        div.home
            a(href="#") خانه 
            a(href="#") دوره های آموزشی 
            a(href="#") خدمات 
            a(href="#") درباره ما 
            a(href="#") تماس با ما 
        div.sign-up
            h4 برای عضویت در خبرنامه ایمیل معتبر وارد کنید.
            div.input.relative
                input(type="text", placeholder="ثبت نام")
                button.absolute(type="submit") ورود
    div.row
        h3 تمامی حقوق محتوای ای وبسایت برای نشر محفوظ میباشد.