//- start header
div.container#header
    header
        div.right.relative
            i.fas.fa-cog
            i.fas.fa-cog
            i
            i
            i
            img(src="../../src/assets/img/header/header-image-2.png", alt="")
        div.left
            div.content.absolute
                h1 دوره های آموزشی تخصصی
                h3 در زمینه مباحث مبتنی بر طراحی و برنامه نویسی