//- start path
div.container#path
    div.row
        dov.right
            img(src="../../src/assets/img/path/1.png", alt="")
        div.left
            div.content
                h2 صرفه جویی در زمان، با تدریس اساتید مجرب
                p مدرسین ما، همگی افرادی هستند که تجربه کاری در بزرگترین شرکت های حوزه فناوری ایران همانند دیجی کالا، نت برگ، پارسپک و.. را دارند و میتوانند با انتقال تجربه های ارزشمندشان، در زمان شما صرفه جویی کنند.
    div.row
        div.left
            div.content
                h2 معرفی به بازار کار پس از دریافت تاییدیه فنی
                p مدرسین ما، همگی افرادی هستند که تجربه کاری در بزرگترین شرکت های حوزه فناوری ایران همانند دیجی کالا، نت برگ، پارسپک و.. را دارند و میتوانند با انتقال تجربه های ارزشمندشان، در زمان شما صرفه جویی کنند.
        dov.right
            img(src="../../src/assets/img/path/2.png", alt="")
    div.row
        dov.right
            img(src="../../src/assets/img/path/4.png", alt="")
        div.left
            div.content
                h2 آپدیت های همیشگی
                p مدرسین ما، همگی افرادی هستند که تجربه کاری در بزرگترین شرکت های حوزه فناوری ایران همانند دیجی کالا، نت برگ، پارسپک و.. را دارند و میتوانند با انتقال تجربه های ارزشمندشان، در زمان شما صرفه جویی کنند.
    div.row
        div.left
            div.content
                h2 آموزش کامل و بهترین کیفیت تدریس
                p مدرسین ما، همگی افرادی هستند که تجربه کاری در بزرگترین شرکت های حوزه فناوری ایران همانند دیجی کالا، نت برگ، پارسپک و.. را دارند و میتوانند با انتقال تجربه های ارزشمندشان، در زمان شما صرفه جویی کنند.
        dov.right
            img(src="../../src/assets/img/path/3.png", alt="")