//- start topic
div.container#topic.relative
    img.background-image.absolute(src="../../src/assets/img/topic/background-image.png", alt="")
    h2.title مطالب آموزشی
    div.row
        div.card
            div.card-header
                img(src="../../src/assets/img/topic/1.png", alt="")
                div.overly
            div.card-body
                h3 آموزش html - بخش اضافه کردن img
                div.meta
                    span نویسنده : ابوالفضل قزلباش ,
                    span انتشار : 23 تیر
                p شما میتوانید با استفاده از css و html افکت های انیمیشنی چشمگیری را ایجاد کنید.
        div.card
            div.card-header
                img(src="../../src/assets/img/topic/2.png", alt="")
                div.overly
            div.card-body
                h3 آموزش css - افکت زیبای hover
                div.meta
                    span نویسنده : ابوالفضل قزلباش ,
                    span انتشار : 23 تیر
                p شما میتوانید با استفاده از css و html افکت های انیمیشنی چشمگیری را ایجاد کنید. ممکن است به جاوا اسکریپت هم نیاز داشته باشید.
    div.row
        div.card
            div.card-header
                img(src="../../src/assets/img/topic/4.png", alt="")
                div.overly
            div.card-body
                h3 آموزش css - کاربرد flex
                div.meta
                    span نویسنده : ابوالفضل قزلباش ,
                    span انتشار : 23 تیر
                p شما میتوانید با استفاده از css و html افکت های انیمیشنی چشمگیری را ایجاد کنید. ممکن است به جاوا اسکریپت هم نیاز داشته باشید.
        div.card
            div.card-header
                img(src="../../src/assets/img/topic/3.png", alt="")
                div.overly
            div.card-body
                h3 آموزش jquery - اضافه کردن کلاس
                div.meta
                    span نویسنده : ابوالفضل قزلباش ,
                    span انتشار : 23 تیر
                p شما میتوانید با استفاده از css و html افکت های انیمیشنی چشمگیری را ایجاد کنید.